* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.theMain {
  /* background-color: #eef0dd; */
  background: url('https://wallpaperaccess.com/full/169668.jpg') no-repeat
    center 50%;
  border-radius: 20px;
  box-shadow: 0 0 10px;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.appTitle {
  font-size: 5rem;
  padding-bottom: 50px;
  color: #5a785b;
}

.screens {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 35px;
  width: 100%;
}

.minionScreens {
  margin-left: 15px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleFont {
  font-family: monospace;
}
