* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.screens {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  background-color: #eef0dd;
  width: 100%;
  border-right: 1px solid black;
}

.minionScreens {
  /* border: 1px solid blue; */
  margin-left: 15px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleFont {
  font-family: monospace;
}
